.header {
    display: flex; /*Puts everything in center*/
    align-items: center; /*Makes most items same height.*/
}

.headerLogo {
    height: 25px;
    /*object-fit: contain --> if items are distorted or stretched*/
}